<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bitcoin"></span> TecStore</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" [ngbCollapse]="!isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" routerLink="/formu"><span class="glyphicon glyphicon-home"></span> Productos</a></li>
        <li><a href="#" routerLink="/lista"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping List</a></li>
      </ul>
    </div>
  </div>
</nav>-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">TecStore</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/agregar" >Agregar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/listapedidos">Shopping List</a>
      </li>
    </ul>
  </div> 
</nav>