<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let pedido of pedidos; let i = index">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{pedido.name}}</h4>
        <p class="card-text"><b>Color:</b> {{pedido.color}}</p>
        <p class="card-text"><b>Cantidad:</b> {{pedido.cant}}</p>
        <p class="card-text"><b>Capacidad:</b> {{pedido.capac}}</p>
        <p class="card-text"><b>Descripción:</b> {{pedido.descr}}</p>
        <button class="btn btn-danger btn-block" (click)="eliminarPedido(i)">Eliminar<span class="glyphicon glyphicon-trash"></span></button>
        <button class="btn btn-info btn-block" routerLink="/modificar/{{pedido._id}}" >Editar<span class="glyphicon glyphicon-pencil"></span></button>
      </div>
    </div>
  </div>
</div>