<hr>
<ul class="list-group">
  <a class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">iPhone Xs</h4>
      <p class="list-group-item-text">
        <b>Color:</b> White Glass
      </p>
      <p class="list-group-item-text">
        <b>Cantidad:</b> 8
      </p>
      <p class="list-group-item-text">
        <b>Capacidad:</b> 256 GB
      </p>
      <p class="list-group-item-text">
        <b>Descripción:</b> Regalo Familia
      </p>
    </div>
    <span class="pull-right">
        <button class="btn btn-danger btn-block" type="button"><span class="glyphicon glyphicon-trash"></span></button>
        <button class="btn btn-info btn-block" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
    </span>
  </a>
</ul>