<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-8 form-group">
          <label for="name">Nombre Producto</label>
          <select id="name" class="form-control" #nameInput>
            <option>iPhone Xs</option>
            <option>iPhone Xr</option>
            <option>iPhone 8</option>
            <option>iPad Pro</option>
            <option>iPad</option>
            <option>iPad mini</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 form-group">
          <label for="amount">Cantidad</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-8 form-group">
          <label for="color">Color del Producto</label>
          <select id="color" class="form-control" #colorInput>
            <option>White Glass</option>
            <option>Black Glass</option>
            <option>Blue Glass</option>
            <option>Yellow Glass</option>
            <option>Coral Glass</option>
            <option>(PRODUCT)RED Glass</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 form-group">
          <label for="capacidad">Capacidad</label>
          <select id="capacidad" class="form-control" #capacidadInput>
            <option>8 GB</option>
            <option>16 GB</option>
            <option>32 GB</option>
            <option>64 GB</option>
            <option>256 GB</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" id="descripcion" class="form-control" #descripcionInput>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6">
          <button class="btn btn-success btn-block" type="submit">Agregar</button>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6">
            <button class="btn btn-danger btn-block" type="button">Eliminar</button>
          </div>
      </div>
    </form>
  </div>
</div>
