<form>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-8 form-group">
      <label for="name">Nombre Producto</label>
      <select [(ngModel)]="name" placeholder="name" class="form-control" name="name">
        <option>iPhone Xs</option>
        <option>iPhone Xr</option>
        <option>iPhone 8</option>
        <option>iPad Pro</option>
        <option>iPad</option>
        <option>iPad mini</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 form-group">
      <label for="amount">Cantidad</label>
      <input type="number" [(ngModel)]="cantidad" placeholder="cantidad" class="form-control" name="cantidad">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-8 form-group">
      <label for="color">Color del Producto</label>
      <select [(ngModel)]="color" placeholder="color" class="form-control" name="color">
        <option>White Glass</option>
        <option>Black Glass</option>
        <option>Blue Glass</option>
        <option>Yellow Glass</option>
        <option>Coral Glass</option>
        <option>(PRODUCT)RED Glass</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 form-group">
      <label for="capacidad">Capacidad</label>
      <select class="form-control" [(ngModel)]="capacidad" placeholder="capacidad" name="capacidad">
        <option>8 GB</option>
        <option>16 GB</option>
        <option>32 GB</option>
        <option>64 GB</option>
        <option>256 GB</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="descripcion" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6">
      <button class="btn btn-success btn-block" (click)="agregarPedido()">Agregar</button>
    </div>
  </div>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Listo!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Tu pedido fue agrtegado con exito</p>
  </div>
</ng-template>

<button style="display:none;" id="openM" class="btn btn-lg btn-outline-primary" (click)="openSm(content)">Launch demo modal</button>
